html,
body, head {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
 font-family: 'Source Sans Pro', sans-serif;
  
}

table{
    letter-spacing: 1.5px;
}


#map {
    width: 100%;
    height: 100%;
    cursor: grab !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}



button.ui-button-icon-only
{
    width: 24px !important;
    height: 24px !important;
}

.title{
    font-family: 'Source Sans Pro', sans-serif;
}

.leaflet-container{
      font-family: 'Source Sans Pro', sans-serif;
  }

input, textarea, keygen, select, button, table{
  font-family: 'Source Sans Pro', sans-serif;
}

.command {
  font-family: 'Source Sans Pro', sans-serif;
}

circle {
    cursor: pointer;
}

path {
    cursor: grab !important;
}

.btn {
    color: red;
    cursor: pointer;
}

a.btn {
    text-decoration: none;
}

a.btn {
    outline: none;
}

a.btn strong {
    line-height: 30px;
}

a.btn:hover {
    text-decoration: none;
}

a.btn span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    line-height: 16px;
}

a.btn:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}

.callout {
    z-index: 20;
    position: absolute;
    top: 0px;
    border: 0;
    left: -12px;
}


/*CSS3 extras*/

a.btn span {
    border-radius: 0px;
    box-shadow: 5px 5px 8px #CCC;
    padding: 5px;
    margin: 0px;
}

a:hover {
    color: #CC3333;
    text-decoration: underline;
}

.sl {
    bottom: 25px;
    left: 40px;
}

.command {
    border-radius: 10px;
    background: white;
    border: 1px solid rgb(221, 221, 221);
    color: rgb(110, 110, 110);
    font-size: 12px;
  cursor: default;
}


#caption_control {

  min-height: 30px;
  padding: 0px 10px 0px 10px;
  min-width: 100px;
}

#caption_control p {
  padding: 0px;
      color: rgb(110, 110, 110);
    font-size: 14px;
  vertical-align: baseline;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 3px;
      margin-left: auto;
    margin-right: auto;

}

.command input {
  cursor: pointer;
}

.title h2 {
    cursor: default;
}

li.ui-state-active a {
  cursor: default !important;
}

li.ui-tabs-active a {
  cursor: default !important;
}

.title {
    border-radius: 6px;
    background: white;
    border: 1px solid rgb(221, 221, 221);
    color: rgb(20, 20, 20);
    font-size: 12px;
}

.spanindent {
    margin: 20px;
    color: #999;
}

.spanindent a {
    color: #999;
}

h4 {
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 5px;
    color: black;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input.leg {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
    *overflow: hidden;
}

.desctext {
    color: grey;
}

.modal {
    cursor: default;
}


h4.command {
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 5px;
    color: rgb(50, 50, 50);
    padding: 0px;
    background: none;
    border-width: 0px;
}


.leaflet-control-command-interior {
    width: 260px;
    height: 100px;
    display: block;
    padding: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #999;
    border-color: rgba(0, 0, 0, .4);
    box-shadow: none;
    cursor: default;
    text-align: center;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, .75);
    z-index: 10;
}


h2 {
    margin: 10px;
}

.title h2 {
    margin: 0px;
}

hr {
    margin: 5px;
}

.bord {
   padding: 10px;
    border: #ccc 2px solid;
}


.modal-inner {
    padding: 20px;
}

table {
    border: #ccc 1px solid;
    table-layout: fixed;
    color: #111;
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #fafafa;
    margin: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    word-wrap: break-word !important;
    margin: 0 auto;
}

th {
  background: #eee;
  text-align: center;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

#modaltable td {
  padding-right: 15px;
}

a.btn {
    padding: 2px;
}

.h3,
h3 {
    font-size: 20px;
}

.abbrev td {
    max-width: 50%;
    padding: 2px 10px 2px 10px;
}



.leaflet-div-icon1 {
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    line-height: 16px;
}

.leaflet-div-icon2 {
    border: 1.5px solid rgba(255, 255, 255, 0.7);
    color: white;
    text-align: center;
    border-radius: 55%;
    font-size: 11px;
    line-height: 11px;
}

.leaflet-div-icon3 {
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: white;
    text-align: center;
    border-radius: 60%;
    font-size: 7px;
    line-height: 7px;
}

.abbrev td {
  font-size: 12px;
}


@media (max-width: 599px) {
  
  .command, #slider, .title, .leaflet-control-layers {
    display: none;
  }
  .ifmobile {
    display: visible;
  }
  .notmobile {
    display: none;
  }
}


@media (min-width: 600px) {
  .command, #slider, .title, .leaflet-control-layers {
    display: visible;
  }
  .ifmobile {
    display: none;
  }
  .notmobile {
    display: visible;
  }
}



.main_content {
    width: 540px;
    min-height: 50px;
    height: auto;
    position: relative;
}

.container {
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.mbutton {
  width: 125px;
}

.selto {
    display: none;
}


